<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978505755364-lvdpc79q6pln53knrsbqvbo76k3d1huk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978505755364-lvdpc79q6pln53knrsbqvbo76k3d1huk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978505755364-m3hltgsureakek4hp84is2uh6dluu5pp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw_ncvFwqvNkr4TYuk3mG5GfIaS8D5oQI</string>
	<key>GCM_SENDER_ID</key>
	<string>978505755364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasepractice</string>
	<key>PROJECT_ID</key>
	<string>zima-90160</string>
	<key>STORAGE_BUCKET</key>
	<string>zima-90160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978505755364:ios:1460beef226fdb62fadaf1</string>
</dict>
</plist>